.li {
    list-style: none;
    text-decoration: none;
    margin: 0 .5em;
    color: white;
}

.container {
    padding:5em;
}

.container p {
    color: white;
    font-size: 40px;
}

.container2 {
    padding:1em;
    text-align: center;
}

.vaciar {
    text-align:end;
    margin-right: 26.5rem;
}

.tipo {
    border-bottom: 1px solid grey;
}

.form {
    display:grid;
    justify-content: center;
    margin: 1em;
}
.form div {
    margin: 1em;
    text-align: center;
}

.form label {
    color: white;
    font-size: medium;
}

.form label input {
    margin: 1em;
}

.form input {
    color: black;
}