.li {
    list-style: none;
    text-decoration: none;
    margin: 0 .5em;
    color: white;
}

.container {
    padding:5em;
}

.container p {
    color: white;
    font-size: 40px;
}

.container2 {
    padding:1em;
    text-align: center;
}

.vaciar {
    text-align:end;
    margin-right: 26.5rem;
}

.tipo {
    border-bottom: 1px solid grey;
}

.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    background-color: whitesmoke;
}
.form div {
    margin: 0.2em;
    text-align: center;
}